<script src="../item-detail/item-detail.component.ts"></script>
<div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <div *ngFor="let item of items">
        <div class="grid-item" float="left">
            <img class="img-responsive" alt="" src="./assets/images/{{item.image}}">
            <a routerLink="/detail/{{item.id}}" class="project-description">
                <div class="project-text-holder">
                    <div class="project-text-inner">
                        <h3>{{item.name}}</h3>
                        <h5>{{item.category}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
