<div class="row">
    <div class="col-xs-12">
        <div class="section-container-spacer">
            <h1>About</h1>
            <p>
                A peak into our world of candles and more.<br>
                An enchanting bird and an intoxicating flower.<br>
                Our goal is to have our candles and products that emphasize "beauty meets quality".
            </p>
        </div>
        <div class="section-container-spacer">
            <form action="" class="reveal-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
                        </div>
                        <button routerLink="/home" class="btn btn-primary btn-lg">Back</button>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled address-container">
                            <li>
                  <span class="fa-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </span>
                                +1 847 345 8924
                            </li>
                            <li>
                  <span class="fa-icon">
                    <i class="fa fa-at" aria-hidden="true"></i>
                  </span>
                                peacockandlotuscreations@gmail.com
                            </li>
                            <li>
                  <span class="fa-icon">
                    <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                                554 Braemar Ln Barrington IL 60010
                            </li>
                        </ul>
                        <h3>Follow me on social networks</h3>
                        <a class="fa-icon" href="https://www.facebook.com/peacock.lotus" title="" target="_fb">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <!--                        <a href="https://www.linkedin.com/" title="" class="fa-icon">-->
                        <!--                            <i class="fa fa-linkedin"></i>-->
                        <!--                        </a>-->
                        <!--                        <a href="https://twitter.com/" title="" class="fa-icon">-->
                        <!--                            <i class="fa fa-twitter"></i>-->
                        <!--                        </a>-->
                        <!--                        <a href="https://dribbble.com/" title="" class="fa-icon">-->
                        <!--                            <i class="fa fa-dribbble"></i>-->
                        <!--                        </a>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

